.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url(background.png);
    block-size: cover;
    background-repeat: repeat-y;
    animation: moveUp 10s linear infinite; 
    display: flex;
    justify-content: center;
    align-items: center;
 }


@keyframes moveUp {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -100%;
    }
}
