.completeBtn {
    width: 80px;
    height: 35px;
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    border: 0.5px solid gray;
    padding: 5px 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.22);
}

.completeBtn:hover {
    background-color: black;
    color: bisque;
    border: none;
}
